{% extends 'entidades/index.html' %}
{% load static %}


{%block titulo %}
<h1 class="tm-site-name">Autores</h1>
<p class="tm-site-description">En esta seccion se ven los autores cargados</p>
{%endblock titulo%}

{% block barraNavegacion%}
<nav class="navbar navbar-expand-md tm-main-nav-container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#tmMainNav" aria-controls="tmMainNav" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
    </button>

    <div class="collapse navbar-collapse tm-main-nav" id="tmMainNav">
        <ul class="nav nav-fill tm-main-nav-ul">
            <li class="nav-item"><a class="nav-link " href="{%url 'home'%}">Inicio</a></li>
            <li class="nav-item"><a class="nav-link " href="{%url 'libros'%}">Libros</a></li>
            <li class="nav-item"><a class="nav-link active" href="{%url 'autores'%}">Autores</a></li>
            <li class="nav-item"><a class="nav-link " href="{%url 'lectores'%}">Lectores</a></li>
            <li class="nav-item"><a class="nav-link" href="{%url 'prestamos'%}">Préstamos</a></li>
        </ul>
    </div>
</nav>
{% endblock barraNavegacion%}

{%block contenido %}
<header>
    <h2 class="tm-main-title">
        <a>Autores</a>
        <a  href="{%url 'autorForm' %}"><img src="{%static '/img/agregar.png' %}"  height="35px" width="35px" title="Página para agregar autores"/></a>
    </h2> 
</header>


    
<table class = "table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Nacionalidad</th>

        </tr>
    </thead>
    <tbody>
    {%for au in autores %}
        <tr>
            <td>{{au.id}}</td>
            <td>{{au.nombre}}</td>
            <td>{{au.apellido}}</td>
            <td>{{au.nacionalidad}}</td>
        </tr>
    {%endfor%}
    </tbody>
</table>


{%endblock contenido %}
</section>
